body {
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat Alternates', sans-serif;
}

:root {
    --coloDeTitulos: #4D545B;
    --colorDeTextos: #ABAEB1;
    --colorDeBoton1: #24BCA5;
    --colorDeBoton2: #6273FF;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
}

.header-logo {
    padding-top: 100px;
    padding-bottom: 40px;
    flex-basis: 100%;
    background-image: url("../images/bg-header-desktop.png");
    background-repeat: no-repeat;
}

.header-principal {
    flex-basis: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.header-principal h1 {
    width: 100%;
    font-size: 38px;
    color: var(--coloDeTitulos);
    letter-spacing: 1px;
    font-weight: 700;
}

.header-principal p {
    width: 50%;
    font-size: 19px;
    color: var(--colorDeTextos);
}

.header-principal-buttons {
    flex-basis: 100%;
    padding-top: 40px;
}

.button {
    color: white;
    padding: 10px 30px;
    font-size: 17px;
    border-radius: 20px;
    border: none;
}

.green {
    background-color: var(--colorDeBoton1);
    box-shadow: 1px 1px 5px var(--colorDeBoton1);
}

.blue {
    background-color: var(--colorDeBoton2);
    box-shadow: 1px 1px 5px var(--colorDeBoton2);
}

.main {
    padding-top: 140px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.main-info-1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 100px;
}

.main-info-1 h2 {
    color: var(--coloDeTitulos);
    font-size: 28px;
    flex-basis: 100%;
    text-align: center;
}

.main-info-1 p {
    color: var(--colorDeTextos);
    flex-basis: 60%;
    text-align: center;
    font-size: 19px;
    font-weight: 400;
    line-height: 32px;
}

.main-content-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.main-content-1-img {
    flex-basis: 30%;
    position: relative;
    top: 0;
    left: -180px;
}

.main-content-1-info {
    padding-top: 50px;
    flex-basis: 28%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.main-content-1-info-1 {
    width: 100%;
}

.main-content-1-info h3 {
    color: var(--coloDeTitulos);
}

.main-content-1-info p {
    color: var(--colorDeTextos);
    line-height: 25px;
}

.main-info-2 {
    padding-top: 60px;
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.main-info-2 h2 {
    flex-basis: 100%;
    text-align: center;
    color: var(--coloDeTitulos);
}

.main-info-2 p {
    flex-basis: 38%;
    text-align: center;
    color: var(--colorDeTextos);
}

.main-content-2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.main-content-2-img {
    padding-top: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.main-content-2-info {
    padding-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.main-content-2-info h3 {
    width: 100%;
    text-align: center;
    font-size: 28px;
    color: var(--coloDeTitulos);
}

.main-content-2-info p {
    color: var(--colorDeTextos);
    text-align: center;
    width: 40%;
}

.section {
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.section-article {
    width: 33%;
    text-align: center;
}

.section-article img {
    padding: 20px 0px;
}

.section-article h3 {
    color: var(--coloDeTitulos);
}

.section-article p {
    color: var(--colorDeTextos);
    line-height: 28px;
}

.marks {
    padding: 240px 0px;
    flex-basis: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.extras {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    padding-bottom: 100px;
}

.extras h2 {
    font-size: 24px;
    width: 100%;
    text-align: center;
    color: var(--coloDeTitulos);
}

.extras p {
    width: 60%;
    text-align: center;
    color: var(--colorDeTextos);
    line-height: 27px;
    padding-bottom: 60px;
}

.extras-buttons {
    width: 100%;
    text-align: center;
}